{% load static %}

<style>
  @media only screen and (max-width: 600px) {
      #smallScreen {
        display: block;
      }
      #largeScreen {
          display: none;
        }
    }
    @media only screen and (min-width: 600px) {
      #smallScreen {
          display: none;
        }
        #largeScreen {
            display: block;
          }
    }

  #bg {
    /* The image used */

    /* Full height */
    height: 100%;
  background-color: powderblue;

  }
  </style>


<link rel="stylesheet" href="{% static 'css/navbar/navbar.css' %}">
<!------ Include the above in your HEAD tag ---------->
<div class="row"  style = "background-color: powderblue; padding-bottom:1rem;">
<div class="container" style = "text-align: center;">
  
     <a href = "#"> <img onclick = "optionss()" style="color:white; margin-top:1rem; font-size:1rem; font-weight:bolder;" src="{% static 'img/options.png' %}" alt="Seçenekler"><br><strong>{{lang.options}}</strong></a>
      <hr style = "border-radius: 50%; background-color:aqua;  width:50%;">
  <div class="col-xs-12 col-md-12 col-lg-12" id = "options" style ="display : none;"><br>

    <div id="largeScreen">
  <table style = "margin:auto auto;">
    <thead>
      <tr>
        <th>
  <form action = "/language/" method = "GET">
    <input name = "currentPage" type="hidden" value = "{{ request.get_full_path }}">
    <button  type = "submit"  class="btn btn-info"
          style="color:white; background-color:black;  margin-top:1rem; font-size:1rem; font-weight:bolder; width:7rem; height:5rem;">{{lang.language}}</button>
  </form>
</th>

      <th>    
      <a href="/"><button  class="btn btn-success pull-right"
    style="color:white; background-color:darkcyan; margin-left : 1rem; margin-top:1rem; font-size:1rem; font-weight:bolder; width:7rem; height:5rem;"><i class="fa fa-home"></i><br> {{lang.mainPage}}</button></a>
        </th>

      {% if request.user.is_authenticated %}
      <th>  
        <a href="/users/logout/"><button  class="btn btn-success pull-right"
          style="color:white; background-color:darkcyan; margin-left : 1rem; margin-top:1rem; font-size:1rem; font-weight:bolder; width:7rem; height:5rem;"><i class="fa fas fa-power-off"> </i>  {{lang.logout}}</button></a>
      </th>
     
  
      
{% else %}
<th> 
  <a href="/products/allproducts/"><button  class="btn btn-success pull-right"
    style="color:white; background-color:blue; margin-left : 1rem; margin-top:1rem; font-size:1rem; font-weight:bolder; width:7rem; height:5rem;"><img style = "width:2rem;height:2rem;"src={% static 'img/products.png' %}>  <strong class = "nav-item active" > {{lang.product}}</strong></button></a>
</th>
<th> 

  <a href="/users/register/"><button  class="btn btn-success pull-right"
    style="color:white; background-color:blueviolet; margin-left : 1rem; margin-top:1rem; font-size:1rem; font-weight:bolder; width:7rem; height:5rem;"><i class="fa fa-envelope-o"></i> <strong class = "nav-item active" ><br> {{lang.register}}</strong></button></a>
</th>
<th> 

  <a href="/users/login/"><button  class="btn btn-success pull-right"
    style="color:white; margin-top:1rem; font-size:1rem; margin-left : 1rem; margin-top:1rem; font-size:1rem; font-weight:bolder; width:7rem; height:5rem;"><i class="fa fa-envelope-o"></i> <strong class = "nav-item active" ><br> {{lang.login}}</strong></button></a>
</th>   
  {% endif %}
    </ul>

  
  </tr>
  </thead>
  </table>
</div>








<div id="smallScreen">
  <table style = "margin:auto auto;">
    <thead>
      
      <tr>
     

        <th style = "margin-left:10rem;">
  <form action = "/language/" method = "GET">
    <input name = "currentPage" type="hidden" value = "{{ request.get_full_path }}">
    <button  type = "submit"  class="btn btn-info"
          style="color:white; background-color:black;  margin-top:1rem; font-size:1rem; font-weight:bolder; width:7rem; height:5rem;">{{lang.language}}</button>
  </form>
  
</th>

      <th>    
      <a href="/"><button  class="btn btn-success pull-right"
    style="color:white; background-color:darkcyan; margin-left : 1rem; margin-top:1rem; font-size:1rem; font-weight:bolder; width:7rem; height:5rem;"><i class="fa fa-home"></i> <br>{{lang.mainPage}}</button></a>
        </th>
      
      </tr>
    
      <tr>

      </thead>
    </table>
        <table style = "margin:auto auto;">
          <thead>
      {% if request.user.is_authenticated %}
      
      <th>  
        <a href="/users/logout/"><button  class="btn btn-success pull-right"
          style="color:white; background-color:darkcyan; margin-left : 1rem; margin-top:1rem; font-size:1rem; font-weight:bolder; width:7rem; height:5rem;"><i class="fa fas fa-power-off"> </i>  {{lang.logout}}</button></a>
      </th>
    
  
      
{% else %}

<th> 
  <a href="/products/allproducts/"><button  class="btn btn-success pull-right"
    style="color:white; background-color:blue; margin-left : 1rem; margin-top:1rem; font-size:1rem; font-weight:bolder; width:7rem; height:5rem;"><img style = "width:2rem;height:2rem;"src={% static 'img/products.png' %}>  <strong class = "nav-item active" > {{lang.product}}</strong></button></a>
</th>
<th> 

  <a href="/users/register/"><button  class="btn btn-success pull-right"
    style="color:white; background-color:blueviolet; margin-left : 1rem; margin-top:1rem; font-size:1rem; font-weight:bolder; width:7rem; height:5rem;"><i class="fa fa-envelope-o"></i> <strong class = "nav-item active" > <br>{{lang.register}}</strong></button></a>
</th>
<th> 

  <a href="/users/login/"><button  class="btn btn-success pull-right"
    style="color:white; margin-top:1rem; font-size:1rem; margin-left : 1rem; margin-top:1rem; font-size:1rem; font-weight:bolder; width:7rem; height:5rem;"><i class="fa fa-envelope-o"></i> <strong class = "nav-item active" > <br>{{lang.login}}</strong></button></a>
</th>   

  {% endif %}
</tr>
    </ul>

  
  </tr>
  </thead>
  </table>
</div>



















</div>
  </div>
  
</div>


<script  language="JavaScript">
  function optionss(){
      options = document.getElementById("options");
      if(options.style.display !== "none"){
        options.style.display = "none";
        console.log("Burada")
      }else{
        options.style.display = "block"
        console.log("Burada2")
      }
  }
</script>