{% extends 'layout.html' %}
{% load static %}
{% block body %}

<div class = "container" style = "margin-top:20px;">
<h3>{{lang.about}}</h3>
<hr>
    <div class = "row">
    <div class = "container col-lg-6 col-xs-12 col-md-6" align="middle" style = " margin : auto auto;">
    <strong><img style = "witdh:18rem; height:18rem;"  alt = "Profile Image Is Empty" src = "{{profileImage.url}}"></strong>
    </div>
    <div class = "col-lg-6 col-xs-12 col-md-6" style = "margin-top:2rem;">
    <h4>{{lang.username}} : <strong><em>{{request.user.username}}</em></strong></h4>
    <h4>{{lang.firstname}} : <strong><em>{{request.user.first_name}}</em></strong></h4>
    <h4>{{lang.lastname}} : <strong><em>{{request.user.last_name}}</em></strong></h4>
    <h4>{{lang.email}} : <strong><em>{{request.user.email}}</em></strong></h4>
    <h4>{{lang.lastLogin}} : <strong><em>{{request.user.last_login}}</em></strong></h4>
    <h4>{{lang.joined}} : <strong><em>{{request.user.date_joined}}</em></strong></h4>
    <div style="text-align: center; margin-top: 1rem; margin-bottom:2rem;" class = "pull-right">
        <button type = "button" onclick="history.back()" class="btn btn-primary">{{lang.goBack}}</button>
        
    </div>
    </div>
    </div>






</div>
{% endblock body %}
