{% extends 'layout.html' %}
{% load static %}

{% block body %}

<h1 style = 'text-align:center; margin-top:1rem;'>{{lang.allArticles}}</h1>
<hr>
<div class="container" style="margin-top:1rem;">
    <div class="col-md-12 col-xs-12 col-lg-12 ">
        
              
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">{{lang.id}}</th>
      <th scope="col" style = "word-wrap: break-word;">{{lang.title}}</th>
      <th scope="col">{{lang.createdDate}}</th>

    </tr>
  </thead>
  <tbody>
  {% if articles %}
  {% for article in articles%}
  {% if not article.isPrivate %}
    <tr>
      <th scope="row">{{article.id}}</th>
      <td><a href = "/articles/articledetail/{{article.id}}/">{{article.title}}</a></td>
      <td>{{article.createdDate}}</td>
      <td>
        <a href = "/articles/articledetail/{{article.id}}/"><button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button></a>
      </td>
    </tr>
    {% endif %}

{% endfor %}
{% else %}
  <div class="alert alert-warning">
    {{lang.noArticle}}
</div>
{% endif %}
  </tbody>
</table>  
                
               

    </div>
</div>





{% endblock body %}




