{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block body %}
<style>
#id_articleImage{


    background-color: cornflowerblue;
    height:3rem;
}
    
</style><br>
<div class="row">
<div class="container col-md-12 col-lg-12 col-xs-12">
    <div class="container" style = "text-align:center;">
    
        <div class="alert alert-success" style = "text-align:center; "><h1 >{{lang.completeTheOrder}}</h1></div> 
        
            <hr>
            <form action="/users/buyproduct/{{product.id}}/" method="POST">
                {% csrf_token %}
                <br>
                {{form|crispy}}
                <input type="number" name="productAmount" value="1" required="" class="numberinput form-control" id="id_productAmount"> <br>
                <button type="submit" class="btn btn-danger">{{lang.completeTheOrder}}</button>
                
            </form>
        </div>

    </div>
</div>

<!--<input type="file" capture = "camera" accept="image/*,application/pdf">-->


<br><br><br><br><br>
<br>
<br>
<script>
</script>
{% endblock body %}

