{% extends "layout.html" %}
{% load static %}
{% block body %}


    <style>
        @media only screen and (max-width: 600px) {
            #smallScreen {
              display: block;
            }
            #largeScreen {
                display: none;
              }
          }
          @media only screen and (min-width: 600px) {
            #smallScreen {
                display: none;
              }
              #largeScreen {
                  display: block;
                }
          }

        #bg {
          /* The image used */

          /* Full height */
          height: 100%;
        background-color: powderblue;

        }
        </style>

    {% if request.user.is_authenticated %}
<div  id = "bg">
<div class="container"   style = "margin : auto auto;text-align:center;" >
<br><br>
        <h2>{{lang.welcome}}, {% if request.user.is_authenticated %} {{ request.user.username }}  {% endif %}
                <div class = "container col-lg-6 col-xs-12 col-md-6" align="middle" style = " margin : auto auto; display:inline;">
                        <strong><img style = "witdh:6rem; height:6rem;"  class = "rounded-circle" src = "{{profileImage.url}}"></strong>
                        </div>
        </h2>
        <hr>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12" >
            
            <div class="row">
              <div class="col-md-6 col-lg-6 col-xs-6">
          <a href = "/products/allproducts/"><scan style = "font-size:1.4rem;"><strong>{{lang.product}}</strong><br><img style = "width:6rem;height:6rem;"src={% static 'img/products.png' %}></scan></a>
        </div>
        {% if user.is_superuser %} 
        <div class="col-md-6 col-lg-6 col-xs-6"><br>
          <a href = "/products/allorders/"><scan style = "font-size:1.4rem;"><strong>{{lang.allOrders}}</strong><br><img style = "width:6rem;height:6rem;"src={% static 'img/orders.png' %}></scan></a>
        </div>
        {% endif %}
      </div>
            
            <div class="col-md-12 col-lg-12 col-xs-12" id = "smallScreen">

            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" style = "word-wrap: break-word;">{{lang.editProfile}}</th>
                    <th scope="col" style = "word-wrap: break-word;">{{lang.changePassword}}</th>
                    
                  </tr>
                </thead>

                <tbody>
                    <hr>
                    <tr>
                        
                        <td> <a href = "/users/editprofile/"><img style = "width:6rem;height:6rem;"src={% static 'img/editProfile.png' %}></a></td>
                        <td>  <a href = "/users/changepassword/"><img style = "width:6rem;height:6rem;"src={% static 'img/password.png' %}></a></td>
                    </tr>


                    <thead>
                        <tr>
                            <th scope="col" style = "word-wrap: break-word;">{{lang.changeUsername}}</th>
                            <th scope="col" style = "word-wrap: break-word;">{{lang.changeProfilFoto}}</th>
                          
                        </tr>
                      </thead>

                    <tr>


                        <td><a href = "/users/changeusername/"><img style = "width:8rem;height:8rem;"src={% static 'img/username.png' %}></a></td>
                        <td><a href = "/users/addprofileimage/"><img style = "width:6rem;height:6rem;"src={% static 'img/profileFoto.png' %}></a></td>
                    
                        </tr>
                    
                    </tbody>
                    </table>
                </div>
                    <div  class="col-md-12 col-lg-12 col-xs-12" id = "largeScreen">

                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col" style = "word-wrap: break-word;">{{lang.editProfile}}</th>
                                <th scope="col" style = "word-wrap: break-word;">{{lang.changePassword}}</th>
                                <th scope="col" style = "word-wrap: break-word;">{{lang.changeUsername}}</th>
                                <th scope="col" style = "word-wrap: break-word;">{{lang.changeProfilFoto}}</th>
                              </tr>
                            </thead>
            
                            <tbody>
                                <hr>
                                    <tr>
                                        
                                        <td> <a href = "/users/editprofile/"><img style = "width:6rem;height:6rem;"src={% static 'img/editProfile.png' %}></a></td>
                                        <td>  <a href = "/users/changepassword/"><img style = "width:6rem;height:6rem;"src={% static 'img/password.png' %}></a></td>
                                        <td><a href = "/users/changeusername/"><img style = "width:8rem;height:8rem;"src={% static 'img/username.png' %}></a></td>
                                        <td><a href = "/users/addprofileimage/"><img style = "width:6rem;height:6rem;"src={% static 'img/profileFoto.png' %}></a></td>
                                    
                                        </tr>
            
            
                                </tbody>
            
                                </table>
                </div>

    </div>
       
        <!-- <br><hr style = "background-color: red; width:100%; height:0.1rem; border-radius:50%;"><br> -->
        
    <div class="col-md-6 col-lg-6 col-xs-12"  style = "margin : auto auto;">
        <!-- RECENT comingTodos  -->
   <hr>
        <br><br>
        <h3>{{lang.currentOrders}}</h3>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">{{lang.amount}}</th>
                <th scope="col" style = "word-wrap: break-word;">{{lang.productTitle}}</th>
                <th scope="col" style = "word-wrap: break-word;">{{lang.orderStatus}}</th>
              </tr>
            </thead>
            <tbody>
                <hr>

                {% if currentOrders %}
                     {% for currentOrder in currentOrders %}
                        <tr>
                        <th scope="row">{{currentOrder.productAmount}}</th>
                        <td><a href = "/products/productdetail/{{currentOrder.id}}/">{{currentOrder.title}}</a></td>
                        <td>{{currentOrder.orderStatus}}</td>
                        </tr>
                    {% endfor %}
            {% else %}
                    <div class="alert alert-warning">
                        {{lang.noCurrentProduct}}
                    </div>
            {% endif %}

            </tbody>
        </table>
        <!-- <br><hr style = "background-color: red; width:100%; height:0.1rem; border-radius:50%;"><br> -->
        <br><br>

    </div>
    <div class="col-md-6 col-lg-4 col-xs-12"  style = "margin : auto auto;">
        <!-- RECENT ARTICLES   -->
        <h3>{{lang.completedOrders}}</h3>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">{{lang.id}}</th>
                <th scope="col" style = "word-wrap: break-word;">{{lang.title}}</th>
                <th scope="col">{{lang.createdDate}}</th>

              </tr>
            </thead>
            <tbody>
                <hr>
                {% if articles %}
                     {% for article in articles %}
                        <tr>
                        <th scope="row">{{article.id}}</th>
                        <td><a href = "/articles/articledetail/{{article.id}}/">{{article.title}}</a></td>
                        <td>{{article.createdDate}}</td>
                        </tr>
                    {% endfor %}
            {% else %}
                    <div class="alert alert-warning">
                        {{lang.noArticle}}
                    </div>
            {% endif %}
            </tbody>
        </table>



    </div>
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
</div>
</div>

{% else %}

<div class="jumbotron" id = "bg">
    <h1>{{lang.pleaselogin}}</h1>
</div><br><br>
<div class="container" style = "text-align: center;">
<a href = "/products/allproducts/"><scan style = "font-size:2rem;"><strong>{{lang.product}}</strong><br><img style = "width:10rem;height:10rem;"src={% static 'img/products.png' %}></scan></a>
</div>
{% endif %}


























{% endblock body %}

