{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container" style="">
    <div class="col-md-12 col-xs-12 col-lg-12 ">
        <div style="margin-top:1rem; margin-bottom:2rem;">

            <h1 style="text-align: center; font-size:2.5rem;">{{lang.myTodos}}</h1>
            <p style="font-size: 1.5rem;font-weight: bold;  position:absolute; right : 2rem; top:2.3rem;"
                class=" pull-right">{{date}}</p>

        </div>

        <hr style="background-color: red;">


   {% if todos %}

        {% for todo in todos  %}
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
                <strong>{{lang.date}} : </strong> {{todo.date}}




                {% if todo.iscompleted %}

                <img class=" pull-right" style="width:3rem; height:3rem; ;" src={% static 'img/icon-yes.svg' %}>
                {% else %}

                <img class=" pull-right" style="width:3rem; height:3rem;;" src={% static 'img/icon-no.svg' %}>

                {% endif %}
                <br>
                <div style="display:inline; word-wrap: break-word;">
                    <strong>{{lang.content}} : </strong>{{todo.content}}
                </div>
                <form action="/todos/completetodo/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{todo.id}}>
                    {% if not todo.iscompleted %}
                    <button type="submit" class="btn btn-success pull-right"
                        style="color:white; margin-top:1rem; font-size:0.7rem; font-weight:bolder; width:5rem;">{{lang.complete}}</button>
                    {% else %}


                    <button type="submit" class="btn btn-warning pull-right"
                        style="color:white; margin-top:1rem; font-size:0.7rem; font-weight:bolder; width:5rem;">{{lang.undo}}</button>


                    {% endif %}
                </form>
                {% if todo.iscompleted %}

                <form action="/todos/deletetodo/{{todo.id}}/" method="POST">
                        {% csrf_token %}
                    <button type="submit" class="btn btn-danger pull-right"
                        style="color:white; margin-top:1rem; margin-right:0.3rem;font-size:0.7rem; font-weight:bolder; width:5rem;">{{lang.delete}}</button>
                </form>
                {% endif %}
                <button type="submit"  onclick = "editTodo('{{todo.id}}','{{todo.content}}','{{todo.date}}')" class="btn btn-info pull-right"
                        style="color:white; margin-top:1rem; margin-right:0.3rem;font-size:0.7rem; font-weight:bolder; width:5rem; ">{{lang.edit}}</button>
                        <br><br>
                        <div class="col " id = "editTodoForm{{todo.id}}" style = "display:none;  text-align:center; z-index:10px; margin: auto auto;">

                            <h1>{{lang.addTodo}}</h1>
                                <hr>

                                <form action="/todos/edittodo/{{todo.id}}/" method="POST">
                                    {% csrf_token %}

                                    {{form|crispy}}
                                    <button type="submit" class="btn btn-danger">{{lang.save}}</button>
                                </form>



                            </div>

            </div>

        </div>

        <hr style="background-color: red;">


        {% endfor %}
{% else %}
  <div class="alert alert-warning">
    {{lang.noTodo}}
</div>
{% endif %}

    </div>
</div>
<script  language="JavaScript">
        function editTodo(id,content,date){
            editTodoForm = document.getElementById("editTodoForm" +id);



            if(editTodoForm.style.display !== "none"){
                editTodoForm.style.display = "none";


            }else{
                editTodoForm.style.display = "block"
                formContent = document.getElementById("EditTodoTextAreaId" + id);
                editTodoForm.children[2][1].value = content;
            }
        }



</script>
{% endblock body %}